.date {
  padding: 10px;
}

.mainInfo {
  text-align: center;
  padding-bottom: 10px;
}

.cityInfo {
  font-size: 20px;
}

.temperature {
  font-size: 30px;
}

.typeWeather {
  font-size: 15px;
}

.secondaryInfo {
  padding: 10px;
  background: #F5F5F5;
  text-align: center;
}

.secondaryInfo>span {
  padding-right: 20px;
}

.description {
  font-weight: 600;
}

.typeWeather img {
  vertical-align: middle;
}
